::-webkit-scrollbar {
	width: 2px;		
}
::-webkit-scrollbar-thumb {
	background-color: #888888;
}
::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

* {
	box-sizing: border-box;
}	 

body { 
	min-height: 100vh;   
	font-family: arial;
	overflow-x: hidden; 
	margin: 0;
} 

.llm-container { 
	position: relative;
	width: 100%;  
	height: 100vh;
	background-color: #ffffff;	 
}
 
.llm-header {   
	width: 100%; 
	color: #ffffff;
	background: #242424;
	padding: 15px;
	display: flex; 
}

.llm-selector {
	display: flex;
	align-items: center;
}

.llm-title {
	font-size: 16px;
	display: inline-block;
	margin-right: 10px;
}
 
.llm-footer { 
	padding: 0 15px;	  
	height: 60px;
	width: 100%;
	font-size: 12px;
	text-align: center;	 
	color: #808080; 
}  

.llm-chat {
	position: relative; 
	height: calc(100vh - 150px);  
	width: 50%;
	padding: 40px;
	overflow-y: auto;
	overflow-x: hidden; 
	margin: 0 auto;
}

.llm-cover { 
	width: 50%;
	margin: 0 auto;
	text-align: center;
	animation: fadeIn 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.llm-compose { 
	display: flex;
	flex-direction: column; 
	align-items: flex-start;
	width: 50%;
	margin: 0 auto;
}  

.llm-message {
	display: flex;
	position: relative;	  
	width: 100%;
	margin: 20px 0;
	font-size: 14px;
} 

.llm-message b {
	display: block;
	padding-bottom: 5px;
}

.llm-message pre { 
	line-height: 24px;
	overflow-wrap: break-word;
	white-space: pre-wrap;
	margin: 0;
}

.llm-message span { 
	display: inline-block;
	font-size: 12px;
	font-style: italic;
	text-align: right;
	width: 100%;
	color: #707070;
}

.llm-message think { 
	display: block; 
	margin-bottom: 10px;
}

.llm-send {
    justify-content: flex-end;	 
	min-width: 60px;
} 

.llm-send > div {
	background-color: #E8EBFA;
	border-radius: 10px; 
	display: inline-block;
	padding: 5px 10px;
	margin-left: 5%;
	min-width: 50px;
} 

.llm-send > div::after { 
	content: '';
	position: absolute;
	top: 3px;
	right: -30px;
	width: 24px;
	height: 24px;
	background: url('../images/user_icon.svg');
}
	
.llm-received {
   justify-content: flex-start; 
} 

.llm-received > div {
	background-color: #fafafa;
	border-radius: 10px; 
	display: inline-block;
	padding: 10px;
	margin-right: 5%;
}  

.llm-received > div::after { 
	content: '';
	position: absolute;
	top: 0;
	left: -35px;
	width: 24px;
	height: 24px;
	background: url('../images/ai_icon.svg');
}
 
.llm-logo {
	margin-right: 10px;
}
	
.llm-btn {
	background: none;
	border: none;
	padding: 5px;
}

.llm-btn:hover {
	cursor: pointer;
}

.llm-textbox {
	padding: 5px;
	border-radius: 5px;
	font-size: 14px;
}

.llm-model {
	font-size: 14px;
	padding: 8px;
	border-radius: 5px;
	width: auto;
	min-width: 200px;
}

.llm-textarea {	
	display: flex;
	border: 1px solid #d0d0d0;
	border-radius: 12px;		 
	padding: 6px;
	width: 100%; 
	height: auto;
	background-color: #ffffff;		
}
	
.llm-tools {
	position: relative; 
	text-align: left;
}

.llm-label {
	display: block;
	margin-bottom: 10px;
	color: #696969;
	font-size: 14px;
}

.llm-input {
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
	color: #555;
	outline: none;
	width: 100%;
}

.llm-drop {
	width: 100%;
}
 
.llm-grid {
	display: flex; 
}

.llm-menu {
	flex: 10%;
	text-align: right;
}

.slide-panel {
	position: absolute;
	top: 0;
	right: -350px;
	z-index: 999;
	background: #ffffff;
	padding: 20px;
	width: 300px;
	height: 100%; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: right 0.3s ease-in-out;
} 

.slide-open {
	right: 0; 
}

.slide-close {
	right: -350px; 
}

textarea {
	width: 97%; 
	border: none;
	font-size: 16px;
	background-color: #ffffff;	
}  

textarea:focus {
	outline: none !important;
} 
 
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border: 1px solid #a0a0a0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3px;
  background-color: #a0a0a0;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #a0a0a0;
}
 

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #ffffff;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.text-r {
	text-align: right;
}

.text-err {
	color: red;
}

.row-p {
	margin-bottom: 20px;
} 

.fl-btn {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer; 
  font-size: 13px; 
  padding: 10px;
  vertical-align: middle;
  width: 100px;
}

.text-err {
	color: red;
	padding: 10px 0;
	font-size: 14px;
}

.fl-btn:hover {
  background-color: #f7fafa;
}

.fl-btn:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

@media (max-width: 768px) { 
	.llm-chat, .llm-selector, .llm-cover, .llm-menu {
		width: 100%; 
	} 
}

@media (max-width: 1280px) {
	.llm-compose {
		width: 100%;
	} 
}